/* =============================================================================
 * 共通CSS
 * ========================================================================== */

/* マージン設定
-------------------------------- */
.margin-bottom-10{
    margin-bottom: 1.0em;
}
.margin-bottom-12{
    margin-bottom: 1.2em;
}
.margin-bottom-15{
    margin-bottom: 1.5em;
}
.margin-bottom-20{
    margin-bottom: 2.0em;
}
.margin-bottom-30{
    margin-bottom: 3.0em;
}