/* =============================================================================
 * FormCSS
 * ========================================================================== */

/* 画像のあたり
----------------- */
#image-list-droparea {
    display: block;
    border: 2px dashed #ff7d44;
    text-align: center;
    height: 50px;
    width:  100%;
}
.on-image-list-droparea {
    background-color: #ff7d44;
}
#image-list .uploded-files img {
    max-width: 100%;
}

/* SKU
-------------------------*/
#sku-image-list {
    height: 380px;
    overflow: scroll;
}
#sku-image-list-droparea {
    display: block;
    border: 2px dashed #ff7d44;
    text-align: center;
    height: 50px;
    width:  100%;
}
#sku-image-list .uploded-files img {
    max-width: 100%;
}
